@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url("../fonts/MWVf-Rwh4GLQVBEwbyI61Q.woff") format('woff');
}

.btnRegistarme{
height: 50px;
width: auto;
margin-top: 30px;
border-radius: 5px;
color: #fff;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
background-color: #428bca;
right:50%;
margin-left: 300px;
margin-top: 20px;

}
.dropdown 
{
color: #555;
width: 143px;
position: relative;
height: 17px;
float: right;
text-align:left;
margin-top: 50px;
}
.submenu
{
background: #fff;
float: right;
display: none;
width: 135px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a 
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#428bca;
color: #FFF;
text-decoration: none;
}
.account 
{
  color:#fff;
  float: right; 
   position: absolute;
margin-top: -42px;
left: 65%;
}
.root
{
list-style:none;
left: 90%;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}


.contenidoArriba{


	height: 	120px;
	width: 		100%;
	background-color:  #333333;
  float: right;

}


.logo{

background-image: url('../img/ecoinc.png');
	height: 	115px;
	width: 		310px;
	margin-left: 30px;
	margin-top: -120px;
	float: left;

}



.olvidarPassword{
  margin-top:  10px;
  color:  white;  
  text-decoration: none;
  margin-top: 10px;
  margin-left: 550px;
}
.olvidarPassword:hover{
  color:  white;
  text-decoration: none;
  cursor: pointer;
}
.txtPassword{
background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 0.25em;
    color: inherit;
    width:200px;
    float: right;
    margin-top: 50px;

}
.txtCorreo{

  background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 0.25em;
    color: inherit;
    width:200px;
    float: right;
    margin-top: 50px;
}

.btnEntrar {
height: 30px;
width: 70px;
margin-top: 48px;
border-radius: 5px;
color: #fff;
float: right;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
background-color: #428bca;
}


.cuadroOlvidarClave{


}
/*    AQUI VA EL CUERPO DEL LOGIN     */
.cuerpo{

  height: 	auto;
  float: right;


}
.reveal-modal{

height:500px;
width:420px; 
outline-style:ridge;
outline-width:5px;
outline-offset: 5px; 
margin-top: -83px;
}


.btnRegistrar{
	height: 	98px;
	width: 		273px;
  float: right;
	margin-top: 30px;
}



.btnRegistrarFacebook{
background-image: url('../img/btnFacebook.gif');
	height: 	98px;
	width: 		273px;
  float: left;
  cursor: pointer;

}
.btnRegistrarTwitter{
background-image: url('../img/btnTwitter.gif');
	height: 	98px;
	width: 		275px;
  float: left;
  cursor: pointer;
}
/*FORMULARIO */
  #chkShow{

    margin-left: 150px;

  }
  .mostrarPass {
    height: 40px;
    width: 44px;
    margin-left: 330px;
    margin-top: -110px;
    float: left;
    z-index: 999;
  }


  /*
   * Styles for the login forms.
   * None of this is plugin-dependent.
   */

  

  .login-field {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 0.25em;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0.5em;
    position: relative;
    margin-left: 200px;
    width:300px;
    float: left;

    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .login-field:focus {
    border-color: #0088cc;
    outline: transparent;
    z-index: 2;
  }


.datosPersonales{

	text-align: center;
	margin-top: -20px;
	font-style:italic;
	font-size: 20px;
}
.datosUsuarios{


	text-align: center;
	font-style:italic;
	font-size: 20px;

}

.registroUsuario{

margin-left: -179px;


}
/*    AQUI VA EL FOTTER DE LA PAGINA     */

.footer{
  text-align: center;
  width:    100%;
  height: auto;
  margin-top: 170px;
  float: right;


}
/*FORMAS DE ERRORES*/
.error {
text-align: center;
background-color:red;
border-radius: 0px 20px 20px 0px;
color:white;
height: auto;
width: 200px;
position:absolute;
font-size:17px;
}
.error2 {
text-align: center;
background-color:white;
color:#000;
left: 54%;
height: auto;
float: right;
width: 395px;
position:absolute;
font-size:17px;
}
.error3 {
text-align: center;
background-color:red;
left: 12%;
color: white;
margin-top:42px;
height: auto;
width: 300px;
float: left;
position:absolute;
font-size:15px;
}
.error4 {
text-align: center;
background-color:red;
color:#fff;
margin-left:150px;
margin-top:-28px;
height: auto;
width: 400px;
height: 25px;
position:absolute;
font-size:17px;
}
.error5 {
text-align: center;
background-color:red;
color:#fff;
margin-left:-500px;
margin-top:-10px;
height: auto;
width:  500px;
border-radius: 5px;
position:absolute;
font-size:17px;
float: left;
}
.error6{
text-align: center;
background-color:red;
color:#fff;
margin-left:270px;
margin-top:-110px;
height: auto;
width:  350px;
border-radius: 5px;
position:absolute;
font-size:17px;
float: left;
}
.error7{
text-align: center;
background-color:red;
color:#fff;
margin-left: -320px;
margin-top: -70px;
height: auto;
width:  300px;
border-radius: 5px;
position:absolute;
font-size:17px;
float: left;
}
/*Inicio*/


.barraInico{

  height:   40px;
  width:    100%;
  background-color:  #333333;

  
}

.logoIncio{
  
background-image: url('../img/ecoincinicio.png');
  height:   22px;
  width:    109px;

  margin-top: 10px;
  float: left;

}
.configuracionInicio{
  border-style: none;
  margin-top: 5px;
  float: left;
  color: white;
  left: 95%;
  position:absolute;
}
.nombreUsuario{
  float: right;
  border-style: none;
  text-decoration: none;
  margin-top:10px;
  color: white;
  left: 72%;
  position:absolute;

}
.nombreUsuario:hover{

  border-style: none;
  text-decoration: none;
  color: white;
  cursor: default;
}

.imagenUsuario{
  height: 40px;
  width: 40px;
  border-radius: 30px;
  float: right;
  background-color: #000;
  z-index: 999;
  left: 65%;
  position:absolute;

}
.fotoPerfil{

  height: 40px;
  width: 40px;
  border-radius: 30px;
}

.chat {
background-color:#428bca;
border:2px solid #000;
line-height:1.3em;
margin:10px auto;
padding:10px;
position:relative;
text-align:center;
width:170px;
height: auto;
margin-top: 55px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-moz-box-shadow:0 0 5px #888888;
-webkit-box-shadow:0 0 5px #888888;
display: none;
float: right;
}
.mensajePrivado {
background-color:#428bca;
border:2px solid #000;
line-height:1.3em;
padding:10px;
position:relative;
text-align:center;
width:300px;
height: 350px;
float: right;
margin-top: 15px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-moz-box-shadow:0 0 5px #888888;
-webkit-box-shadow:0 0 5px #888888;
display: none;
overflow: scroll;
  

}
.nuevoMensajeUsuario{

background-color:#428bca;
border:2px solid #000;
line-height:1.3em;
margin:10px auto;
padding:10px;
position:relative;
text-align:center;
float: right;
width:600px;
height: 390px;
margin-top: 65px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-moz-box-shadow:0 0 5px #888888;
-webkit-box-shadow:0 0 5px #888888;
display: none;
}
#cerrarMensajeNuevo{
float: left;
margin-left: 545px;
color: white;

}
.chat-arrow-border {
border-color:  transparent transparent #000 transparent;
border-style: solid;
border-width: 14px;
height:0;
width:0;
position:absolute;
margin-top: -208px;
left:1295px;
}
.chat-arrow {
border-color:  transparent transparent #428bca transparent;
border-style: solid;
border-width: 10px;
height:0;
width:0;
position:absolute;
margin-top: -200px;
left:1299px;
}
.cerrarSesion{
color: white;
border-style: none;
text-decoration: none;
}
.cerrarSesion:hover{

  color:white;
  text-decoration: none;
  cursor: pointer;
} 
.configuracion{
color: white;
border-style: none;
text-decoration: none;
}
.configuracion:hover{

  color:white;
  text-decoration: none;
  cursor: pointer;
} 
.ayuda{
color: white;
border-style: none;
text-decoration: none;
}
.escribir{
color: white;
border-style: none;
text-decoration: none;
cursor: pointer;
}
.ayuda:hover{

  color:white;
  text-decoration: none;
  cursor: pointer;
} 
.escribenos{

height: 350px;
width: 450px;
border-radius: 20px;  
margin-left: 500px;
margin-top: 100px; 
background-color: #428bca;
display: none;
float: left;


}

 .divTitulo {
  color:white;
   font-size:20px; 
   line-height:20px;
    margin:0;
     margin-top: 10px; 
     margin-left: 15px;
     float: left;
  }
.lblNombre{

float: left;
margin-top: 10px;
color:  white;
}
.lblCorreo{

float: left;
margin-top: 40px;
margin-left: -374px;
color:  white;
}
.lblTitulo{

float: left;
margin-top: 40px;
margin-left: -363px;
color:  white;
}
.lblMensaje{

float: left;
margin-top: 40px;
margin-left: -384px;
color:  white;
}

.txtNombre{
  float: left;
  margin-top: 7px;
  margin-left: 5px;
  width: 310px;
}
.txtCorreoEscirbenos{
  float: right;
  margin-top: 7px;
}
.txtTitulo{
  float: left;
  margin-top: 7px;
  margin-left: 5px;
  width: 310px;
}
.btnCancelar{
  float: left;
  margin-left: -270px;
  margin-top: 120px;
  background-color: #428bca;
  color: white;
  height: 40px;
  border-style: dashed;
  width: 100px;
  border-radius: 15px;
}
.btnEnviar{
  float: left;
  margin-top: 120px;
  margin-left: -140px;
  background-color: #428bca;
  color: white;
  border-style: dashed;
  border-radius: 15px;
  height: 40px;
  width: 100px;

}
.contenedorMensaje{
float: left;
margin-left: 22px;
margin-top: 20px;
}
.infoMensaje{
 float: left;
color:white;
margin-top: 15px;
margin-left: 185px;
font-size: 13px;
}
.infoMensaje:hover{
    border-radius: none;
    text-decoration: none;
    color: white;
}

.menuInicio{

height: 1000px;
width: 250px;
background-color: #333333;
margin-top: -100px;
z-index: -1;
position:fixed;

}

.ingresos{
  background-color: #428bca;
  border-radius: 6px;
  height: 50px;
  width: 200px;
  margin-left: 25px;
  margin-top: 200px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  cursor: pointer;
  color: white;
  text-align: center;
}
.gastos{
  background-color: #428bca;
  height: 50px;
  border-radius: 6px;  
  width: 200px;
  margin-left: 25px;
  margin-top: 40px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  cursor: pointer;
  color: white;
  text-align: center;
}
.ahorro{
  background-color: #428bca;
  height: 50px;
  border-radius: 6px;
  width: 200px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 40px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}
.Tips{
  background-color: #428bca;
  border-radius: 6px;
  height: 50px;
  width: 200px;
  margin-left: 25px;
  margin-top: 40px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  cursor: pointer;
}


.informacionInicio
{

  height: auto;
  width: 400px;
  margin-left: 50px;
}

.cuadroIngresos{
 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}
.cuadroAhorro{
 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}
.txtBuscadorIngresos{
  height: 48px;
  width: 560px;
  margin-left: -78px;
  margin-top: 30px;
  font-size: 24px;
  font-family: monospace;
  border-style: none;
  border-color: #fff;
  float: left;
}

.cuadro{
  margin-left: 600px;
  margin-top: -48px;
  background-color: white;
  height: 47.5px;
  width: 51px;

  float: left;
}
.iconoBuscador{
  float: left;
  margin-left: 12px;
  margin-top: 10px;
}
.btnAgregarIngresos{
float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 45px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
border-radius: 4px;
}

.letrasIngresos{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}

.letrasAhorros{  
  margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;

}

.letrasRecomendaciones{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}
.letrasModificarIngresos{
 margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}
.letrasModificarGastos{
 margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}


.registrarNuevoIngresos{
 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}
.btnSalvar{
float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 50px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 100px;
margin-left: 100px;
}


.btnCancelarRegistroIngreso{

  float: left;
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
text-align: center;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 100px;
margin-left: 210px;
}
.btnCancelarModificarIngresos{
float: left;
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
text-align: center;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 320px;
margin-left: 210px;

}
.btnCancelarModificarGastos{
float: left;
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
text-align: center;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 320px;
margin-left: 210px;  
}


.txtCantidadRegistrar{
width: 500px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 20px;
margin-left: 90px;
}

.nombrePersonal{
width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;
}
.TelefonoPersonal{

width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;
}
.fechaPersonal{

width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;
}
.emailPersonal{

width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;
}
.provinciaPersonal{

width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;
}
.ApellidoPersonal{
width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;
}
.sexoPersonal{
width: 350px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
float: right;

}



.letrasNuevoIngresos{
   margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}
.fa-times-circle{
float: left;
margin-top: -40px;
margin-left: 645px;
color: white;
}

#tablaGastos 
{
  padding: 8px;
  font-weight: normal;
  font-size: 13px;
  color: #039;
}


.filaArriba th
{
  padding: 8px;
  font-weight: normal;
  color: #039;
  background: #b9c9fe;
  text-align:center;
}
#tablaGastos td
{
  background: #e8edff;
  border-top: 1px solid #fff;
  color: #669;
  text-align:center;
  width: 600px;
}
#tablaGastos tbody tr:hover td
{
  background: #d0dafd;
}
.tablaGastos{
  float: left;
  margin-left: 42px;
  margin-top: 30px;
  height:360px;
  width:610px;
  overflow:scroll;
  background-color: #d0dafd;
}
#tablaIngresos 
{
  padding: 8px;
  font-weight: normal;
  font-size: 13px;
  color: #039;
}


.filaArriba th
{
  padding: 8px;
  font-weight: normal;
  color: #039;
  background: #b9c9fe;
  text-align:center;
}
#tablaIngresos td
{
  background: #e8edff;
  border-top: 1px solid #fff;
  color: #669;
  text-align:center;
  width: 600px;
}
#tablaIngresos tbody tr:hover td
{
  background: #d0dafd;
}
.tablaIngresos{
  float: left;
  margin-left: 42px;
  margin-top: 30px;
  height:360px;
  width:610px;
  overflow:scroll;
  background-color: #d0dafd;
}

.btnModificarIngresos{
   margin-left: 45px;
  float: left;
 color: #ed9c28;
 cursor: pointer;

}
.eliminarIngresos{

  margin-left: 20px;
  float: left;
 color: #d43f3a;
 cursor: pointer;

}

.eliminarGasto{

    margin-left: 20px;
  float: left;
 color: #d43f3a;
 cursor: pointer;
}
.divTotalIngresos{

margin-top: 10px;
float: left;
text-align: center;
margin-left: 135px;
color: white;
font-family: cursive arial;
font-style:italic;
}
.divTotalGastos{

margin-top: 10px;
float: left;
text-align: center;
margin-left: 135px;
color: white;
font-family: cursive arial;
font-style:italic;
}
.fondoTotal{

color:#fff;
float: left;
margin-top: -28px;
margin-left: 240px;

}
.cuadroGastos{ 
 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}
.letrasGatos{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}
.txtBuscadorGastos{
  height: 48px;
  width: 560px;
  margin-left: -78px;
  margin-top: 30px;
  font-size: 24px;
  font-family: monospace;
  border-style: none;
  border-color: #fff;
  float: left;
}
.btnAgregarGastos{
float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 45px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
border-radius: 4px;
}
#cerrarAgregarGastos{
float: left;
margin-top: -40px;
margin-left: 645px;
color: white;
}
#cerrarRecomendaciones{
float: left;
margin-top: -40px;
margin-left: 645px;
color: white;
}

.cuadroConfiguracion{
 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  padding: 20px;
}

.registrarNuevoGastos{

 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}
.btnCancelarRegistroGastos{

float: left;
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
text-align: center;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 100px;
margin-left: 210px;
}
.btnSalvarGastos{

float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 50px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 100px;
margin-left: 100px;
  
}
.btnSarlvarModificaIngresos{

float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 50px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 320px;
margin-left: 100px;
  
}
.btnSarlvarModificaGastos{

float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 50px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 320px;
margin-left: 100px;
  
}

.descripcionIngresos{
width: 500px;
height: 160px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 20px;
resize: none;
margin-left: 90px;
}


.descripcionGastos{
width: 500px;
height: 160px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 20px;
resize: none;
margin-left: 90px;
}

.txtCantidadRegistarGasto{

width: 500px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 20px;
margin-left: 90px;
}
.cuadroModificarIngresos{
 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;

}
.cuadroModificarGastos{

 background-color: #428bca;
  height: 600px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}


.modificarGastos{

 
margin-left: 45px;
float: left;
color: #ed9c28;
cursor: pointer; 
}

.cuadroTips{
 background-color: #428bca;
  height: 1000px;
  width: 700px;
  margin-left: 400px;
  margin-top: 80px;
  float: right;
  margin-bottom: 50px;
  display: none;
}

.contenedorLetras{

  padding: 50px;
  margin-top: -30px;
  font-size: 20px;
  color: white;
  font-style:  italic;

}
.letrasOfertas{
  margin-left: 25px;
  margin-top: 30px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  }

.letrasConfiguracion{
  margin-left: 25px;
  font-size: 22px;font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white;
  text-align: center;

}

  .Frutas{

 height: 420px;
width: 190px;
background-color: white;
margin-left: 35px;
float: left;
margin-top: 10px;
} 
.Carne{

 height: 420px;
width: 190px;
background-color: white;
margin-left: 30px;
float: left;
margin-top: 10px;
} 
.Electrodomesticos{

 height: 420px;
width: 190px;
background-color: white;
margin-left: 30px;
float: left;
margin-top: 10px;
}
.cabeceraFrutas{
text-align: center;
color: white;
margin-left: -450px;

}
.cabeceraCarne{
text-align: center;
color: white;
margin-left: -15px;
margin-top: -100px;

}
.cabeceraElectrodomestico{
text-align: center;
color: white;
margin-left: 435px;
margin-top: -100px;

}

.recuperarClave{

height:600px;
width:420px; 
outline-style:ridge;
outline-width:5px;
outline-offset: 5px; 
margin-top: -83px;

}

.CuadroRecuperar{

height:100px;
width:120px; 
}

.btnRecuperar{
height:50px;
width:100px;
float: left;
margin-top: 30px;
background-color: #5cb85c;
margin-left:110px;
border-radius: 5px;
color: #fff;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
}

#nombreCorreo{
margin-left: 10px;
text-align: center;
}
.loaderAjax{

  display: none;  
}

.imagenUsuario2{
  height: 70px;
  width: 70px;
  border-radius: 30px;
  margin-left: 60px;
  float: left;

}

.loaderAjax{
margin-left: -45px;
margin-top: 116px;
float: left;
z-index: 10000000;
}


.BtnCambiarFoto{

margin-top: 80px;
margin-left: -98px;
border-radius: 4px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
float: left;
}
.btnActualizarDatos{
margin-top: 350px;
border-radius: 4px;
color: #fff;
background-color: #eea236;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
position: absolute;
float: right;
left: 84%;
}
.btnCambiarPass{
margin-top: 350px;
border-radius: 4px;
color: #fff;
float: right;
left: 64%;
position: absolute;
background-color: #5cb85c;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;
}
.btnActualizarPass{
margin-top: 70px;
margin-left: -220px;
border-radius: 4px;
color: #fff;
float: left;
background-color: #5cb85c;
border-color: #eea236;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border: 1px solid transparent;


}
#antiguaPass{
width: 280px;
margin-left: 57px;
float: left;
margin-top:  -5px;
}
#nuevaPass{

width: 280px;
margin-left: 57px;
float: left;
margin-top: 15px;

}

#repitaNuevaPass{

width: 280px;
margin-left: 57px;
float: left;
margin-top: 10px;


}
#actualizarPass{

height: 290px;
width: 400px;
border-style:  dashed;
border-color: #fff;
margin-top: 30px;
margin-left: 100px;
display: none;


}
#cerrarActualizarDatos{

  color: white;
  margin-left: 350px;
  margin-top: 15px;
}
.mensajePrivados{

  color:#000;
  float: right;  
  color: white;
  left: 90%;
position: absolute;
margin-top: 8px;
}
.nuevoMensaje{
  float: left;  
  margin-left: 130px;
  margin-top: -5px;
  color: white;
}
.nuevoMensaje:hover{
  float: left;  
  margin-left: 130px;
  margin-top: -5px;
  color: white;
  border-style: none;
}
.imagenUsuarioMensaje{

  height: 55px;
  width: 50px;
  border-radius: 40px;
  margin-top: -8px;
}
.NombreUsuarioMensaje{

  color: white;
  float: left;
  margin-left: 60px;
  margin-top: -60px;

}
.mensajeUsuarioMensaje{
  color: white;
  float: left;
  margin-left: 60px;
  margin-top: -32px;
}
.horaUsuarioMensaje{

  color: white;
  float: left;
  margin-left: 210px;
  margin-top: -64px;
}
.divisorMensajeUsuario{
margin-top: 2px;

}
.verMasUsuarioMensaje{
float: left;  
  margin-left: 120px;
  margin-top: -10px;
  color: white;

}

.verMasUsuarioMensaje:hover{
 float: left;  
  margin-left: 120px;
  margin-top: -10px;
  color: white;
}
.btnEnviarMsj{

float: left;
border-radius: 5px;
margin-top: -10px;
margin-left: 50px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
padding: 6px 12px;
font-size: 14px;
border: 1px solid transparent;
border-radius: 4px;
margin-top: 12px;
margin-left: 225px;
  
}
.txtUsuarioMensaje{

width: 500px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
margin-left: 10px;
}


.txtCuerpoMensaje{

width: 500px;
height: 220px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 15px;
resize: none;
margin-left: 10px;
}

.divTotalIngreso{
width: auto;
margin-left: 50px;

}

.divTotalGasto{

width: auto;
margin-left: 50px;


}