

@media only screen and (max-width: 460px){ 



body{

background-color: #024959;
padding: 15px;
 background: -webkit-linear-gradient(#024959, white);
 text-align: center;
}
.contenidoArriba{
  background-color: transparent;
}
.olvidarPassword{
  margin-top: -190px;
  text-align: center;
}

.btnRegistrar{

  display: none;
}
.txtPassword{
margin-top: 50px;
width: 100%;
}
.txtCorreo{

margin-top: 120px;
height: 30%;

}
.olvidarPassword{
  text-decoration: none;
  margin-top: 30px;
}
.footer{

margin-top: 450px;
color: #024959;
height: 90px;



}

.btnRegistraCelular{

text-align: center;
display: block;
float: right;
margin-top: 250px;
color: white;
}

.btnRegistraCelular:hover{

text-align: center;
display: block;
float: right;
margin-top: 250px;
text-decoration: none;
color: white;
}
.btnRegistrarFacebook{
background-image: url('../img/btnFacebook.gif');
  height:   98px;
  width:    273px;
  cursor: pointer;
  display: none;

}
.btnRegistrarTwitter{
background-image: url('../img/btnTwitter.gif');
  height:   98px;
  width:    275px;
  cursor: pointer;
  display: none;
}


}

